<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{directory}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/dir.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
</head>
<body>
    <div class="container">

        <div class="masthead">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active"><a href="#">iDownloader</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.navbar -->
            <h2 class="muted">Path: {{directory}}</h2>

        </div>

        <table class="table table-hover">
            <tr>
                <th class="muted">文件名称</th>
                <th class="muted">文件大小</th>
                <th class="muted">修改时间</th>
                <th></th>
            </tr>
            {{#files}}
            <tr>
                <td>
                    {{#isDir}}
                    <i class="icon-folder-open"></i>
                    {{/isDir}}
                    {{#isFile}}
                    <i class="icon-file"></i>
                    {{/isFile}}
                    <a href="{{path}}">{{name}}</a>
                </td>
                <td>{{size}}</td>
                <td>{{lastModified}}</td>
                <td>
                    {{#isDir}}
                    <a href="{{path}}?option=gzip" class="btn btn-success"><i class="icon-download-alt"></i></a>
                    {{/isDir}}
                </td>
            </tr>
            {{/files}}
        </table>

    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>